<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body>
        <h2>About Page</h2>
        <p>This is all about me!</p>
        <p>I successfully used Google's Gemini to develop a lesson plan for Python.</p>
        <p>It has been a great experience and I feel I have learned Python fairly quick.</p>
        <p>My goal is to become a Python developer and work on exciting projects.</p>
        <p>Thank you for visiting my site!</p>
        <a href="/">Go Home</a>

        <p>This page was accessed at: {{ time.strftime("%Y-%m-%d %I:%M:%S") }}</p>
    </body>
</html>